@{
    Layout = "~/Views/Index.cshtml";
    if (Session["idUsuario"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div class="container-fluid" data-ng-controller="ProprietariosController as proprietarios">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Proprietários</h4>
        </div>
        <div class="panel-body">

            @Html.Partial("~/Views/Proprietarios/Partial/FiltroProprietarios.cshtml")

            <div class="alert alert-danger" data-ng-show="proprietarios.erros">
                <button type="button" class="close" data-ng-click="proprietarios.limparMensagens()"><span aria-hidden="true">&times;</span></button>
                <span data-ng-repeat="erro in proprietarios.erros" data-ng-bind="erro"></span>
            </div>
            <div class="alert alert-success" data-ng-show="proprietarios.info">
                <button type="button" class="close" data-ng-click="proprietarios.limparMensagens()"><span aria-hidden="true">&times;</span></button>
                <span data-ng-bind="proprietarios.info"></span>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="form-group">
                        <button class="btn btn-success"
                                data-app-modal-target="proprietarios.modal.dados"
                                data-ng-click="proprietarios.novo()">
                            <span class="glyphicon glyphicon-plus"></span>
                            Novo
                        </button>
                        <button class="btn btn-default" data-ng-click="proprietarios.gerarRelatorio()">
                            <span class="glyphicon glyphicon-print"></span>
                            Imprimir
                        </button>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cpf</th>
                                <th>Data de Nascimento</th>
                                <th>Telefone</th>
                                <th>Veículos</th>
                                <th class="table-col-3 text-center">Ações</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="proprietarios.cadastrados.length == 0">
                                <td colspan="2">
                                    <em>Nenhum Proprietário encontrado.</em>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="no-border" data-ng-repeat="proprietario in proprietarios.cadastrados">
                            <tr>
                                <td data-ng-bind="proprietario.nomeProprietario"></td>
                                <td data-ng-bind="proprietario.cpfProprietario"></td>
                                <td data-ng-bind="proprietario.dataNascimento"></td>
                                <td data-ng-bind="proprietario.telefone"></td>
                                <td>
                                    <button class="btn btn-info btn-sm fa fa-list"
                                            data-ng-click="proprietarios.selecionar(proprietario); proprietarios.limparMensagens()"
                                            data-app-modal-target="proprietarios.modal.exibirVeiculos"></button>
                                </td>

                                <td class="text-center">
                                    <button type="button"
                                            class="btn btn-warning"
                                            data-app-tooltip="Editar"
                                            data-ng-click="proprietarios.selecionar(proprietario); proprietarios.limparMensagens()"
                                            data-app-modal-target="proprietarios.modal.dados">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>

                                    <button type="button"
                                            class="btn btn-danger"
                                            data-app-tooltip="Remover"
                                            data-ng-click="proprietarios.selecionar(proprietario); proprietarios.limparMensagens()"
                                            data-app-modal-target="proprietarios.modal.confirmarRemover">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr data-ng-hide="proprietarios.cadastrados.length == 0">
                                <td colspan="6"
                                    class="text-center"
                                    data-app-paginacao="proprietarios.filtro.paginacao"
                                    data-app-paginacao-limite="10"
                                    data-app-paginacao-iniciar="proprietarios.consultar(true)"
                                    data-app-paginacao-atualizar="proprietarios.consultar(false)"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>


    @Html.Partial("~/Views/Proprietarios/Modal/ModalCadastrarProprietario.cshtml")
    @Html.Partial("~/Views/Proprietarios/Modal/ModalRemoverProprietario.cshtml")
    @Html.Partial("~/Views/Proprietarios/Modal/ModalExibirVeiculos.cshtml")
</div>

