<div class="modal fade" data-app-modal="proprietarios.modal.confirmarRemover" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-app-modal-dismiss="proprietarios.modal.confirmarRemover"><span>&times;</span></button>
                Remover Proprietário
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" data-ng-show="proprietarios.modal.erros.aoRemover">
                    <button type="button" class="close" data-ng-click="proprietarios.modal.limparMensagens()"><span aria-hidden="true">&times;</span></button>
                    <span data-ng-repeat="erro in proprietarios.modal.erros.aoRemover" data-ng-bind="erro"></span>
                </div>
                <p>
                    Deseja realmente remover o proprietário <strong data-ng-bind="proprietarios.proprietario.cpfProprietario"></strong> ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-success"
                        data-ng-click="proprietarios.modal.remover()">
                    <span data-ng-show="proprietarios.modal.removendo"
                          data-ng-disabled="proprietarios.modal.removendo">
                        Removendo&nbsp;<i class="fa fa-refresh fa-spin"></i>
                    </span>
                    <span data-ng-hide="proprietarios.modal.removendo">Sim</span>
                </button>
                <button type="button"
                        class="btn btn-danger"
                        data-app-modal-dismiss="proprietarios.modal.confirmarRemover">
                    Não
                </button>
            </div>
        </div>
    </div>
</div>


