<div class="modal fade" data-app-modal="veiculos.modal.exibirInfracoes" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="veiculos.form.dados">
                <div class="modal-header">
                    <button type="button" class="close" data-app-modal-dismiss="veiculos.modal.exibirInfracoes"><span>&times;</span></button>
                    <h4 class="modal-title">Lista de Infrações</h4>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Infração</th>
                            <th>Velocidade</th>
                            <th>Veículo</th>
                            <th>Local</th>
                            <th>Agente</th>
                            <th>Descricao</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="infracao in veiculos.veiculo.infracoesVeiculos">
                            <td data-ng-bind="infracao.idInfracao"></td>
                            <td data-ng-bind="infracao.velocidadeInfracao"></td>
                            <td data-ng-bind="infracao.veiculoInfracao"></td>
                            <td data-ng-bind="infracao.localInfracao"></td>
                            <td data-ng-bind="infracao.agenteInfracao"></td>
                            <td data-ng-bind="infracao.descricaoInfracao"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <span>&nbsp;</span>
                    <button type="button" class="btn btn-danger" data-app-modal-dismiss="veiculos.modal.exibirInfracoes">
                        Fechar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

