<div class="panel panel-white">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-search"></i>&nbsp;Filtro</div>
        <div class="panel-body">
            <form data-ng-submit="proprietarios.consultar(true); proprietarios.limparMensagens();">
                <div class="row-fluid">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Cpf</label>
                            <input class="form-control"
                                   data-ng-model="proprietarios.filtro.dados.cpfProprietario" />
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-12">
                        <button class="btn btn-primary"
                                data-ng-disabled="proprietarios.filtro.pesquisando">
                            <span data-ng-show="proprietarios.filtro.pesquisando">Pesquisando&nbsp;<span class="fa fa-refresh fa-spin"></span></span>
                            <span data-ng-hide="proprietarios.filtro.pesquisando">Pesquisar</span>
                        </button>
                        <button class="btn btn-warning" data-ng-click="proprietarios.filtro.limpar(); proprietarios.limparMensagens();">
                            Limpar Filtro
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


