@*@model Infracoes.Models.Usuario*@

<div class="navbar navbar-inverse ng-cloak" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu"></button>
        <a class="navbar-brand" href="/BoasVindas">
            Home
        </a>
    </div>
    <div id="menu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/Veiculos">Veículos</a></li>
            <li><a class="nav navbar-nav" href="/Modelos">Modelos</a></li>
            <li><a class="nav navbar-nav" href="/Proprietarios">Proprietários</a></li>
            <li><a class="nav navbar-nav" href="/Infracoes">Infrações</a></li>
            <li><a class="nav navbar-nav" href="/Agentes">Agentes</a></li>
            <li><a class="nav navbar-nav" href="/Logradouros">Logradouros</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="">
                    <span class="glyphicon glyphicon-user"></span>
                    @*Usuário: @Session["nomeUsuario"]*@
                </a>
            </li>
            <li>
                <a href="@Url.Action("Deslogar","Login")">
                    <span class="glyphicon glyphicon-off"></span>
                    Sair
                </a>
            </li>
        </ul>
    </div>
</div>